global
          maxconn 256

defaults
          mode http
          timeout connect 5000ms
          timeout client 50000ms
          timeout server 50000ms

listen http-in
          bind *:80
          server server1 nginx1 maxconn 32
          server server2 nginx2 maxconn 32
          server server2 nginx3 maxconn 32
